<div class="container">
    @using (Html.BeginForm("Index", "Bot", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div style="position:relative;">
            <a class='btn btn-primary' href='javascript:;'>
                Choose a file...
                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
            </a>
            &nbsp;
            <span class='label label-info' id="upload-file-info"></span>
        </div>
        <input type="submit" value="OK" />
    }
</div>