<style>
   #canvas {
        background-image: url('./Maps/Test/The Lost Barrow of the Shadow Queen 01 (player).png');
    }
</style>

<div>
    <canvas id="canvas" width="713" height="938"></canvas>
</div>

<script type="text/javascript">
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext('2d');
    var x = 0;
    var draw = function () {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        
        ctx.beginPath();
        ctx.moveTo(x + 10, 15);
        ctx.quadraticCurveTo(10, 10, x + 250, 15);
        ctx.moveTo(x + 10, 15);
        ctx.quadraticCurveTo(100, 100, x + 250, 15);
        ctx.stroke();

        ctx.fillStyle = 'red';
        ctx.beginPath();
        ctx.arc(x + 250, 15, 10, 0, 2 * Math.PI);
        ctx.fill();
        
        x = x + 10;
    };

    setInterval(draw, 100);
</script>
