<div class="container">
    <h2 class="page-header">Pathfinder</h2>
    <p>
        The the game is about creating artificial intelligence, whether you are a beginning programmer or an expert. Using one of the easy-to-use starter kits, you will create a computer program that controls a virtual player which travelling along locations (maps) and gathering artifacts.
    </p>
    <img src="~/Content/images/Home/Field.png" class="img-rounded">
</div>
