<div class="jumbotron">
    <div class="container">
        <h1>Pathfinder</h1>
        <p>
            The the game is about creating artificial intelligence, whether you are a beginning programmer or an expert. Using one of the easy-to-use starter kits, you will create a computer program that controls a virtual player which travelling along locations (maps) and gathering artifacts.
        </p>
        <div>
            <p style="float: left;"><a role="button" class="btn btn-primary btn-lg" href="@(Url.Action("Index", "Tutorial"))">Read tutorial »</a></p>
            <img src="~/Content/images/Home/Field.png" class="img-rounded" style="float: right;">
        </div>
    </div>
</div>
